[user]
	name = lily
	email = angelrecovery@icloud.com
	signingkey = 29D7443F0529A8E4C51337576E0C3AE4687CDC21
[core]
	editor = nvim
	excludesfile = ~/.gitexcludes
[init]
	defaultBranch = main
[commit]
	gpgsign = true
[tag]
	gpgsign = true
[diff]
	tool = difftastic
[difftool]
	prompt = false
[difftool "difftastic"]
	cmd = difft --color=always "$LOCAL" "$REMOTE"
[pager]
	difftool = true
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --branches
	cl = clone
	st = status
	cm = commit -v -m
	dt = difftool
	pl = pull
	pu = push
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
