[core]
	editor = nvim
  	excludesfile = ~/.gitexcludes
[branch]
	autosetuprebase = always
[help]
	autocorrect = 1
[init]
	defaultBranch = main
[alias]
	st = status
	sw = switch
	c = commit -v
	b = branch
	a = add
	re = restore
	l = pull
	p = push
	f = fetch
	mt = mergetool
	m = merge
	r = rebase
	lg = log --stat
	d = diff
	dt = difftool